<%= form_for([bank_account, expense_allocation], { html: { class: 'pure-form pure-form-stacked' } }) do |f| %>
  <% if expense_allocation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expense_allocation.errors.count, "error") %> prohibited this expense allocation from being saved:</h2>

      <ul>
      <% expense_allocation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :expense_id %>
    <%= f.collection_select(
      :expense_id,
      Expense.all,
      :id,
      :name,
      prompt: 'Please select expense'
    )
    %>
  </div>
  <div class="field">
    <%= f.label :allocate_on %>
    <%= f.date_field :allocate_on %>
  </div>
  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>


  <div class="actions">
    <%= f.submit class: 'pure-button pure-button-primary'%>
  </div>
<% end %>
<br />
<% if expense_allocation.amount.present? %>
  <h3>Transactions:</h5>
  <% expense_allocation.expense_allocation_transactions.each do |eat| %>
    <%= render('transaction', expense_allocation: expense_allocation, transaction: eat.trans) %>
  <% end %>

  <div class="statement-line pure-g">
    <div class="header pure-u-3-5 pure-u-sm-6-24">
      Spent:
    </div>
    <div class="pure-u-2-5 pure-u-sm-6-24">
      <span class="amount text-right"><%= number_to_currency(expense_allocation.spent) %></span>
    </div>
    <div class="header pure-u-3-5 pure-u-sm-6-24">
      Remaining:
    </div>
    <div class="pure-u-2-5 pure-u-sm-6-24">
      <span class="amount text-right"><%= number_to_currency(expense_allocation.balance) %></span>
    </div>
  </div>
<% end %>