<%= link_to(
  edit_bank_account_transaction_path(transaction.bank_account_id, transaction.id), 
  class: 'statement-line pure-g'
) do %>
  <div class='header pure-u-1 pure-u-sm-2-5'>
    <svg class="icon icon-credit-card"><use xlink:href="#icon-credit-card"></use></svg>
    <%= transaction.processed_on.to_date.to_s(:db) %> - <%= transaction.description %>
  </div>
  <div class="pure-u-1 pure-u-sm-3-5">
    <span class="amount"><%= number_to_currency(transaction.amount) %></span>
  </div>
<% end %>