<%= content_for :nav do %>
  <div><%= link_to "Back", bank_account_path(@bank_account) %></div>
  <div class="active">Edit Allocation</div>
  <div></div>
<% end %>

<%= render 'form', bank_account: @bank_account, expense_allocation: @expense_allocation %>

<%= link_to 'Delete', [@bank_account, @expense_allocation], method: :delete, data: { confirm: 'Are you sure?'}, class: 'pure-button'  %>