<%= content_for :nav do %>
  <div><%= link_to "Back", bank_account_path(@bank_account) %></div>
  <div class="active">New Allocation</div>
  <div></div>
<% end %>

<%= render 'form', bank_account: @bank_account, expense_allocation: @expense_allocation %>
