  <%= link_to(
  edit_bank_account_bank_transaction_path(bank_account, bank_transaction), 
  class: bank_transaction_class(bank_transaction, 'pure-g'),
  'data-id' => bank_transaction.id,
) do %>
  <div class='pure-u-1'>
    <div class="bank-transaction-row">
      <div class="date"><%= bank_transaction.processed_on.to_date.to_s(:db) %></div>
      <div class="amount"><%= number_to_currency(bank_transaction.amount) %></div>
    </div>
    <div class="bank-transaction-row">
      <div class="description"><%= bank_transaction.description %></div>
    </div>
  </div>
  <% unless bank_transaction.reconciled? %>
    <%= form_for [bank_account, bank_account.trans.build], 
        html: { class: 'transaction-create-form' } do |f| %>
      <%= f.hidden_field :amount, value: bank_transaction.amount.to_s %>
      <%= f.hidden_field :processed_on, value: bank_transaction.processed_on %>
      <%= f.hidden_field :description, value: bank_transaction.description %>
      <%= hidden_field_tag :bank_transaction_id, bank_transaction.id %>
      <div class='button primary-action create-transaction-button'>
        <div>+ Create Transaction</div>
      </div>
    <% end %>
    <% bank_transaction.suggestions.each do |suggestion| %>
    <%= form_for [bank_account, bank_transaction],
      url: reconcile_bank_account_bank_transaction_path(bank_account, bank_transaction),
      remote: true,
      html: {
        'data-transaction-id' => bank_transaction.id,
        'data-suggestion-id' => suggestion.id,
        class: 'transaction-reconciliation-form'
      } do |f| %>
        <%= f.hidden_field :transaction_id, value: suggestion.id %>
        <div class='button reconcile-button secondary-action'>
          <div class="row">
            <div class="date"><%= suggestion.processed_on.to_date.to_s(:db) %></div>
            <div class="amount"><%= number_to_currency(suggestion.amount) %></div>
          </div>
          <div class="row">
            <div class="description"><%= suggestion.description %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>