<%= form_for([@bank_account, bank_transaction]) do |f| %>
  <% if bank_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bank_transaction.errors.count, "error") %> prohibited this bank_transaction from being saved:</h2>

      <ul>
      <% bank_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :processed_on %>
    <%= f.date_select :processed_on %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>

  <div class="actions">
    <%= f.submit class: 'primary' %>
  </div>
<% end %>
