<%= content_for :nav do %>
  <div><%= link_to "Back", bank_account_bank_transactions_path(@bank_account) %></div>
  <div class="active">Edit Transaction</div>
  <div></div>
<% end %>

<%= render 'form', bank_transaction: @bank_transaction %>