<%= content_for :nav do %>
  <div><%= link_to "Home", root_path %></div>
  <div class="active"><%= @bank_account.name %></div>
  <div><%= link_to "Budget", @bank_account %></div>
<% end %>
<div class="bank-transactions">
<%= render partial: 'bank_transaction', 
  collection: @bank_transactions, 
  locals: { bank_account: @bank_account }
%>
</div>

<%= link_to "Show More", 
            bank_account_bank_transactions_path(@bank_account, 
                                                starting_from: @starting_from - 1.month),
            class: 'primary-action button' %>

<h2>Import Transactions</h2>
<%= form_tag import_bank_account_bank_transactions_path(@bank_account) do %>
  <%= text_area_tag :data %>
  <%= submit_tag 'Import', class:'primary-action button' %>
<% end %>


<script type="application/javascript">
  $('.reconcile-button').on('click', function(event) {
    event.stopPropagation();
    $(event.currentTarget)
      .closest('.transaction-reconciliation-form')
      .trigger('submit.rails');
  });

  $('.create-transaction-button').on('click', function(event) {
    event.stopPropagation();
    $(event.currentTarget).closest('.transaction-create-form').submit();
    return false;
  });
</script>