<p id="notice"><%= notice %></p>

<p>
  <strong>Processed on:</strong>
  <%= @bank_transaction.processed_on %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bank_transaction.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @bank_transaction.amount %>
</p>

<%= link_to 'Edit', edit_bank_transaction_path(@bank_transaction) %> |
<%= link_to 'Back', bank_transactions_path %>
