(function() {
  const transaction = document.querySelector('.transaction[data-id="<%=@bank_transaction.id%>"]');
  const options = document.querySelectorAll('[data-transaction-id="<%=@bank_transaction.id%>"]');

  const message = document.createElement('div');
  message.className = 'reconciliation-message';
  message.innerText = 'Successfully Reconciled';

  const otherSuggestions = document.querySelectorAll('[data-suggestion-id="<%=@bank_transaction.transaction_id%>"]')

  options.forEach(o => o.remove());
  otherSuggestions.forEach(s => s.remove());
  transaction.parentNode.insertBefore(message, transaction.nextSibling);
  transaction.classList.remove('unreconciled');
  transaction.classList.add('reconciled');
})()