<%= link_to(
  edit_bank_account_expense_allocation_path(allocation.bank_account_id, allocation.id),
  class: statement_line_class(allocation)
) do %>  
  <div class="statement-line-details">
    <span class="amount text-right"><%= number_to_currency(allocation.amount) %></span>
    <span class="amount text-right"><%= number_to_currency(allocation.balance) %></span>
    <span class="amount text-right"><%= number_to_currency(allocation.available) %></span>
  </div>
  <div class='header'>
    <div><%= allocation.description %></div>
    <div>
      <svg class="icon icon-meter"><use xlink:href="#icon-meter"></use></svg>
      <%= allocation.processed_on.to_date.to_s(:db) %> 
    </div>
  </div>
<% end %>