<%= link_to(
  edit_bank_account_transaction_path(transaction.bank_account_id, transaction.id), 
  class: statement_line_class(transaction) 
) do %>
  <div class="statement-line-details">
    <span class="amount text-right"><%= number_to_currency(transaction.amount) %></span>
    <span class="amount text-right"><%= number_to_currency(transaction.balance) %></span>
    <span class="amount text-right"><%= number_to_currency(transaction.available) %></span>
  </div>
  <div class='header'>
    <div><%= transaction.description %></div>
    <div>
      <svg class="icon icon-credit-card"><use xlink:href="#icon-credit-card"></use></svg>
      <%= transaction.processed_on.to_date.to_s(:db) %>
    </div>
    
    <span class="allocations">
      <% transaction.expense_allocation_transactions.each do |allocation| %>
        <span class="allocation">
          <%= allocation.name %>
        </span>
      <% end %>
    </span>
  </div>
<% end %>