<h1>Editing Bank Account</h1>

<%= render 'form', bank_account: @bank_account %>

<%= link_to 'Show', @bank_account %> |
<%= link_to 'Destroy', bank_account, method: :delete, data: { confirm: 'Are you sure?' } %>
