<div class="pure-g">
  <% @bank_accounts.each do |bank_account| %>
    <%= link_to bank_account, class: 'bank-account pure-u-8-24 pure-u-1' do %>
      <span class="name"><%= bank_account.name %></span>
    <% end %>
  <% end %>
</div>


<%= link_to 'New Account', new_bank_account_path, class: 'pure-button' %>