<%= content_for :nav do %>
  <div><%= link_to "Home", root_path %></div>
  <div class='active'><%= @bank_account.name %></div>

  <div><%= link_to "Bank", bank_account_bank_transactions_path(@bank_account) %></div>
<% end %>
<div class='account-actions'>
  <% @upcoming_allocations.each_with_index do |allocation, index| %>
    <%= link_to new_bank_account_transaction_path(@bank_account, expense_allocation_id: allocation.id),
                { class: "page-action action-color-#{(index % 4) + 1}" } do %>
      <span><%= allocation.name %></span>
      <span class="amount"><%= allocation.remaining %></span>
    <% end %>
  <% end %>
   
  <%= link_to 'Add Transaction',
              new_bank_account_transaction_path(@bank_account),
              { class: "page-action" } %>
  <%= link_to 'Add Allocation',
              new_bank_account_expense_allocation_path(@bank_account),
              { class: "page-action" } %>
</div>
<div class="statement-line-header">
  <span class='amount-header text-right'>Amount</span>
  <span class='amount-header text-right'>Balance</span>
  <span class='amount-header text-right'>Available</span>
</div>
<% @statement_lines.each do |line| %>
  <%= render_statement_line(line) %>
<% end %>
</table>

<%= link_to "+ Show More", 
            bank_account_path(@bank_account, starting_from: @starting_from - 1.month), 
            class: 'primary-action ' %>