@import "colors";

.bank-transactions {
  @media screen and (min-width: 768px) {
    padding: 2rem;
  }
}

.bank-transaction-row {
  display: flex;
  justify-content: space-between;
  letter-spacing: initial;
  width: 100%;

  .date, > .amount {
    font-weight: lighter;
    font-size: 1.5em;
    width: initial;
    line-height: 3rem;
  }

  .date {
    color: $dark-gray;
  }

  .description {
    font-weight: lighter;
    color: $dark-gray;
  }
}

.transaction.positive {
  .bank-transaction-row {
    .amount {
      color: $green;
    }
  }
}

.transaction.negative {
  .bank-transaction-row {
    .amount {
      color: $red;
    }
  }
}

.button {
  padding: 1rem;
  text-align: center;
  width: 100%;
  letter-spacing: initial;
  margin: 0.5rem 0;
  border: 1px solid $gray;
}

.primary-action {
  box-shadow: 1px 0px 4px 0px rgba(106, 123, 118, 0.5);
  background-color: white;
  display: block;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  color: $dark-gray;
}

.reconcile-button {
  .row {
    display: flex;
    justify-content: space-between;
  }

  .amount {
    width: initial;
    color: $blue;
  }

  .description {
    text-align: center;
    font-size: 0.5rem;
  }
}

.secondary-action {
  border: 1px solid $blue;
  border-radius: 3px;
  color: $blue;
}