// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";
body {
  color: $black;
}

.amount, .amount-header {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  width: 100%;
}

.bank-account {
  background: $gray;
  color: $blue;
  padding: 10px;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  display: block;

  .name {
    font-size: 3em;
  }
}

.statement-line-header {
  padding: 0.5rem;
}

.statement-line-details {
  font-size: 1.2rem;
  font-weight: lighter;
}

.statement-line-details, .statement-line-header  {
  display: flex;
  justify-content: space-between;
}

.statement-line {
  padding: 10px;
  background: $gray;
  margin-bottom: 5px;
  color: inherit;
  text-decoration: none;
  display: block;

  &.statement-line-red {
    background: lighten($red,20);
    
    .amount, .header {
      color: $red;
    }
  }

  &.unreconciled {
    border-left: 3px solid $red;
  }

  &.reconciled {
    border-left: 3px solid $green;
  }

  .header {
    font-weight: 700;
    color: $dark-gray;
  }

  @media screen and (max-width: 35.5em) {
    .header {
      text-align: right;
      font-size: 0.8em;
      font-weight: bolder;
    }
  }
}

 @media screen and (max-width: 35.5em) {
   .allocations {
     display: block;
     margin: 5px 0;
   }
 }

.allocations {
  margin-left: 3px;
}
.allocation {
    background: #87c19a;
    padding: 3px 5px;
    box-sizing: border-box;
    border-radius: 8px;
    color: #404040;
    font-weight: 400;
    font-size: 0.8em;
    text-transform: lowercase;
}

.account-actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 1rem;
  
  a.page-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 1rem;
    text-align: center;
    width: 48%;
    color: $dark-gray;
    box-shadow: 1px 0px 4px 0px rgba(106, 123, 118, 0.5);
    background-color: white;
    position: relative;
    border-radius: 3px;

    .title {
      font-size: 2rem;
      margin-bottom: 1rem;
      line-height: 1;
    }

    .detail {
      width: 100%;
      line-height: 1;
      font-size: 1.5rem;
      font-weight: 200;
    }
    
    @media screen and (min-width: 768px) {
      width: 19%;
    }

    &:before {
      content: " ";
      height: 2rem;
      width: 3px;
      display: block;
      position: absolute;
      top: 0px;
      right: 1rem;
    }

    &.action-color-1:before {
      background-color: $green;
    }

    &.action-color-2:before {
      background-color: $red;
    }

    &.action-color-3 {
  //    color: white;
    }

    &.action-color-4 {
//      color: white;
    }
  }
}