$gray: #F4F7FF;
$dark-gray: rgba(106, 123, 118, 1);
$black: rgba(30,36,30,1);
$green: rgba(125, 209, 129, 1);
$blue: rgba(141, 167, 193, 1);
$red: rgba(234, 114, 114, 1);
$yellow: rgba(255, 186, 96, 1);
$shadow: rgba(106, 123, 118, 0.2);