@import 'colors';

.flash {
    text-align: center;
    padding: 1rem;
    border: 1px solid $blue;
    border-radius: 3px;
    margin: 0 1rem;
}

.nav-header {
  display: flex;
  justify-content: space-around;
  background-color: $blue;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 3;

  .active {
    font-weight: bold;
  }

  a {
    color: white;
  }

  a:visited {
    color: white;
  }
}

textarea {
  margin: 0 1rem;
  box-sizing: border-box;
}

input[type="submit"], button {
  border: none;
  padding: 8px;
  border-radius: 3px;
  
  &.primary {
    color: white;
    background: $green;
  }
}

form {
  padding: 8px;

  input[type="text"], input[type="password"] {
    box-sizing: border-box;
    font-size: 16px;
    padding: 8px 4px;
    border: 1px solid $dark-gray;
;
  }

  .field {
    margin-bottom: 8px;
  }

  label {
    display: block;
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 8px;
  }
}
