<div class="nested-fields pure-form-stacked statement-line">
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-3">
      <%= f.collection_select(
        :expense_allocation_id,
        ExpenseAllocation.all,
        :id,
        :name,
        { prompt: 'Please select Expense' },
        { class: 'pure-input-1' }
      )
      %>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <%= f.text_field :amount, class: 'pure-input-1' %>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 text-right">
      <%= link_to_remove_association "Remove", f, class: 'pure-button pure-button-cancel' %>
    </div>
  </div>
</div>