<%= form_for([bank_account, transaction], { html: { class: 'pure-form pure-form-stacked' } }) do |f| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :processed_on %>
    <%= f.date_field :processed_on %>
  </div>
  <hr />
  <div id="expense-transaction-allocations">
    <%= f.fields_for :expense_allocation_transactions do |allocation| %>
     <%= render 'expense_allocation_transaction_fields', :f => allocation %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add Allocation', f, :expense_allocation_transactions %>
    </div>
  </div>
  <div class="field">
    <%= f.label :expense do %>
      <%= f.check_box :expense %>
      Expense?
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit class: 'primary'%>
  </div>
<% end %>
<script type="text/javascript">
  (function () {
    var touched = false;
    
    function syncAmounts(e) {
      var count = $('.nested-fields').length;
      if (!touched && count === 1) {
        $('.nested-fields input[type="text"]')
          .val(Math.abs(parseFloat(e.target.value)));
      }
    }

    function markAsTouched() { touched = true; }

    $('form#new_transaction').on('keyup', 'input#transaction_amount', syncAmounts);
    $('form#new_transaction').on('keyup', '.nested-fields input[type="text"]', markAsTouched);
  })();
</script>