<%= content_for :nav do %>
  <div><%= link_to "Back", bank_account_path(@bank_account) %></div>
  <div class="active">Edit Transaction</div>
  <div></div>
<% end %>

<%= render 'form', bank_account: @bank_account, transaction: @transaction %>

<%= link_to 'Delete', [@bank_account, @transaction], method: :delete, data: { confirm: 'Are you sure?'}, class: 'pure-button'  %>

<% unless @transaction.reconciled? %>
  <h3>Suggestions</h3>
  <% @suggestions.each do |suggestion| %>
    <%= suggestion.description %>
  <% end %>
<% end %>