<%= content_for :nav do %>
  <div><%= link_to "Back", bank_account_path(@bank_account) %></div>
  <div class="active">New Transaction</div>
  <div></div>
<% end %>


<%= render 'form', transaction: @transaction, bank_account: @bank_account %>

