<%= content_for :nav do %>
  <div><%= link_to "Home", root_path %></div>
  <div class="active">Edit <%=@expense.name %></div>
<% end %>

<%= render 'form', expense: @expense %>

<%= link_to 'Show', @expense %> |
<%= link_to 'Back', expenses_path %>
